.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(250, 248, 248, 0.7);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

}

.container {
    background-image: url('https://images.alphacoders.com/130/1307447.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff9800;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.backToHome {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.backToHome:hover {
    background-color: #ffab40;
}

.formGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff9800;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);

}

.input,
.select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff9800;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input:focus,
.select:focus {
    border-color: #ffab40;
}

.addButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.addButton:hover {
    background-color: #ffab40;
}

.temperamentList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.error {
    color: red;
}

.successMessage {
    color: green;
    margin-top: 10px;
}

.temperamentItem {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ffab40;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.temperamentItem:hover {
    background-color: #ff9800;
}

.submitButton {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
    background-color: #45a049;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .containerForm {
        max-width: 90%;
        /* Reducir el ancho máximo en pantallas pequeñas */
    }

    .title {
        font-size: 24px;
        /* Ajustar el tamaño del título */
    }

    .backToHome,
    .addButton,
    .selectC,
    .submitButton {
        padding: 8px 16px;
        /* Reducir el padding de los botones */
        font-size: 14px;
        /* Ajustar el tamaño de fuente de los botones */
    }

    .temperamentList {
        flex-direction: column;
        /* Mostrar los temperamentos en una columna */
        align-items: flex-start;
        /* Alinear a la izquierda */
    }

    .temperamentItem {
        margin-right: 0;
        /* Eliminar el margen derecho en temperamentos */
        margin-bottom: 5px;
        /* Agregar un margen inferior */
    }
}